@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #299636;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.hand {
    margin-bottom: 2rem;
}

.cards {
    display: flex;
    gap: 1rem;
}

.card {
    width: 80px;
    height: 120px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total {
    margin-top: 1rem;
}

section#game-area {
    margin-top: 2rem;
    width: 70%;
    max-width: 600px;
}

/**
        * Canvas styles
        */
canvas {
    width: 100%;
    height: 400px;
    min-height: 400px;
    border: #ccc 2px solid;
    padding: 20px
}

#controls {
    margin-bottom: 2rem;
}
